@model Tiamat.Models.AccountSetting

@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewData["Title"] = "Добави настройка на акаунт";
}

<link rel="stylesheet" href="~/css/addAccountStyle.css" />

<div class="add-account-container">
    <div class="add-account-card">
        <h1 class="title">Добави нова настройка на акаунт</h1>
        <form method="post" asp-action="AddAccountSetting" asp-controller="User">
            <div class="form-group">
                <label asp-for="SettingName"></label>
                <input asp-for="SettingName" class="form-control" />
                <span asp-validation-for="SettingName"></span>
            </div>

            <div class="form-group">
                <label asp-for="MaxRiskPerTrade"></label>
                <input asp-for="MaxRiskPerTrade" class="form-control" />
                <span asp-validation-for="MaxRiskPerTrade"></span>
            </div>

            <div class="form-group">
                <label asp-for="UntradablePeriodMinutes"></label>
                <input asp-for="UntradablePeriodMinutes" class="form-control" />
                <span asp-validation-for="UntradablePeriodMinutes"></span>
            </div>

            <button type="submit" class="submit-btn">Създай</button>
        </form>
    </div>
</div>
