@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/loginStyle.css" />

<div class="d-flex flex-column">
    <main class="d-flex justify-content-center align-items-center flex-grow-1 mt-5">
        <div class="explanation-container">
            <h1 class="explanation-text">Welcome to Tiamat WebApp! Please log in to continue.</h1>
        </div>
        <div class="login-container">
            <h2 class="login-title">LOGIN</h2>

            <form method="post" asp-action="Login" asp-controller="User">
                <div class="input-group">
                    <input type="text" name="username" placeholder="Username" required>
                    <span class="input-icon">
                        <i class="bi bi-person"></i>
                    </span>
                </div>
                <div class="input-group">
                    <input type="password" name="password" placeholder="Password" required>
                    <span class="input-icon">
                        <i class="bi bi-lock"></i>
                    </span>
                </div>
                <button type="submit">LOGIN</button>
                <div class="links">
                    <a href="#" class="forgot-link">Forgot Password?</a>
                    <a href="#" class="remember-link">Remember Me</a>
                </div>
            </form>

            @if (!ViewData.ModelState.IsValid)
            {
                <div style="color:red; text-align:center; margin-top:5px;">
                    Invalid login attempt
                </div>
            }
        </div>
    </main>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">